* {
  font-family: Roboto;
}
:root {
  --color-blue: #2D6FA4;
}
header {
  background-color: #ffffff;
}
body {
  background-color: #F5F5F5;
}
.logo {
  width: 345px;
}
.menu li a {
  color: rgba(0, 0, 0, 70%);
}
.hero img {
  width: 100%;
}
.carousel img {
   filter:  brightness(0.58);
}

.carousel .carousel-caption {
  top: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
}

.carousel .carousel-caption h4 {
  font-size: 3rem;
}
.objetivo {
  position: relative;
}
.objetivo:after {
  content: '';
  background-image: url("./images/bg-pattern.png");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  filter: opacity(0.6);
}
#map {
  height: 500px;
  width: 100%;
}
.lb {
  border-left: 5px solid var(--color-blue);
  padding-left: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.estaciones {
  background-color: #ffffff;
  position: relative;
}
.estaciones .layer {
  position: absolute;
  /*background-color: #ffffff91;*/
  background: rgb(255,255,255);
  background: linear-gradient(166deg, rgb(235 233 233 / 85%) 0%, rgba(238,238,238,1) 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.estaciones .text-layer {
  color: var(--color-blue);
  text-align: center;
}
.estaciones h1.text-layer {
  font-size: 3.2rem;
  margin-top: 15%;
  margin-bottom: 15px;
}
.estaciones h2.text-layer {
  font-size: 2rem;
}
.estacion {
  margin-bottom: 2rem;
}
.estacion-titulo {
  color: white;
}
.estacion-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.estacion-card .card img {
  height: 250px;
  object-fit: cover;
}
.estacion-card .card-body {
  text-align: center;
}
.estacion-card .card-title {
  color: #2D6FA4;
}
.estacion-card .card-text {
  color: rgba(0, 0, 0, 80%);
}

.flora .estacion-titulo {
  background-color: #178E46;
}
.fauna .estacion-titulo{
  background-color: #8E2C17;
}

.roca .estacion-titulo{
  background-color: #7E4F45;
}
.informacion-titulo {
  color: var(--color-blue);
}
.contenido {
  text-align: justify;
}

footer {
  background-color: var(--color-blue);
  color: #ffffff;
}
footer .logo-2 {
  width: 280px;
}
footer .direccion {
  font-size: 12px;
}
footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
}
footer .line {
  border-top: 1px solid #ffffff;
  margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  .ruta img {
    width: 100%;
  }
  .informacion-img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .estacion-card .card {
    width: 100%!important;
    margin-bottom: 10px;
  }
}
